{% extends "base.html" %}
{% block title %}Template App{% endblock %}
{% block proposition %}Template Proposition{% endblock %}


{% block links %}
  <li><a href='/stuff'>stuff</a></li>
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% if logged_in %}
  <h1 class="heading-xlarge">Welcome {{email}}</h1>
  {% else %}
  <h1 class="heading-xlarge">Welcome to Template app</h1>
  {% endif %}
  <a class="button button-start" href="/test" role="button">Test</a>

  <form action="/login" method="post" class="form">
    <div class="form-section">
      <div class="form-group">
        <label class="form-label" for="email">Email address</label>
        <input class="form-control" name="email" type="text">
      </div>
    </div>
    <div class="form-section">
      <div class="form-group">
        <input class="button" type="submit" value="Login">
      </div>
    </div>
  </form>
</main>
{% endblock %}
