{% extends "base.html" %}
{% block title %}Universal Signin{% endblock %}
{% block proposition %}Universal Signin{% endblock %}


{% block links %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% if logged_in %}
  <h1 class="heading-xlarge">Welcome {{email}}</h1>
  {% else %}
  <h1 class="heading-xlarge">Welcome to Universal Signin</h1>
  {% endif %}
  <form action="/login" method="post" class="form">
    <div class="form-section">
      <div class="form-group">
        <label class="form-label" for="email">Email address</label>
        <input class="form-control" name="email" type="text">
      </div>
    </div>
    <div class="form-section">
      <div class="form-group">
        <input class="button" type="submit" value="Login">
      </div>
    </div>
  </form>
</main>
{% endblock %}
